name: "[Balancer] Publish docker image to Docker Hub"

on: 
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  publish-to-dockerhub:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./balancer

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup version variable
        run: echo "version=$(cat VERSION)" > $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./balancer
          push: true
          tags: skoltech/speedtest-balancer:${{ env.version }}.${{ github.run_number }} #skoltech/speedtest-balancer:latest
